<%= content_tag :div, style: "#{ 'padding-left:30px;' if comment.child? }" do %>
  <%= content_tag :div, class: "panel panel-default comment", id: "comment-#{comment.id}" do %>
    <%= content_tag :div, class: 'panel-heading' do %>
      <strong><%= comment.commentator.name.present? ?comment.commentator.name : "no name given (id: #{comment.commentator.uid})" %></strong>
      <span class="small pull-right">
        <strong><%= distance_of_time_in_words(Time.now, comment.created_at) %> ago</strong>
      </span>
    <% end %>
    <%= content_tag :div, class: 'panel-body' do %>
      <%= comment_markdown(comment.body) %>
      <%= content_tag :span, class: "small pull-right" do %>
        <% unless comment.child? %>
          <%= link_to pluralize(comment.descendants.count, 'reply'), polymorphic_path([comment.commentable, :comments], anchor: "comment-#{comment.id}") %>
          <% if can_comment? %> 
            <%= ' | ' if reply %>
            <%= link_to 'reply', new_polymorphic_path([comment.commentable, :comment], parent_id: comment.id), 
                remote: true,
                class: 'add-comment-links',
                id: "add_comment_link_#{comment.id}" if reply %>
          <% end %>
        <% end %>
        <% if can_comment? %>
          <%= ' | ' unless comment.child? %>
          <%= link_to('remove', [comment.commentable, comment], remote: true, method: :delete, data: { confirm: 'Are you sure? (All comments in this thread will remain but unthreaded)' }) %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>